.container > div {
  position: absolute;
}

.charButtons {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.2rem;
  margin-left: 0.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.charButtons button {
  background: none;
  border: none;
  font-size: 1rem;
  transition: all 0.15s ease-in-out;
  padding: 0.8rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.charButtons button:hover {
  background-color: rgb(209, 209, 209);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
}

.charButtons button:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.charButtons button:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.charButtons button img {
  display: block;
  width: 2rem;
  height: 2rem;
}

.areaBorder {
  border: inset black 3px;
  border-radius: 10px;
}
