.App {
  height: 100vh;
}

.game {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game > img {
  display: block;
  width: 100%;
  object-fit: fill;
}
